.separated-row{
    &>*{
        border:inherit;
        &:not(:last-child){
            border-right: none;
        }
        &:first-child{
            border-radius: inherit;
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
        }
        &:last-child{
            border-radius: inherit;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
        }
    }
}