@import url('main.css');
table {
   empty-cells: show;
}

table td,
table th {
   min-width: 2em;
   min-height: 2em;
   padding: 5px 5px 5px 5px;
}
table td{
   padding: 5px 10px 5px 5px;
   font-size: 12px;
}
.order-items table thead{
   font-weight: 900;
}
.order-items{
   display: none;
}
.order-items table{
   margin-left: 10px;
}
.order-items table td{
   padding: 5px;
}
.orders-links{
   margin-top: 10px;
}
.oder-title{
   font-size: 16px;
}
.oder-title .oder-user-fio{
   font-weight: 900;
}
.oder-expired-label, .oder-expired-val{
   color: red;
}
#orderDates{
   position: absolute;
   width: 300px;
   padding: 5px;
   background-color: rgb(223, 230, 223);
   border-radius: 5px;
   color: rgb(0, 0, 3);
   border-radius: 10px;
}