@import url('main.css');
table {
   empty-cells: show;
}

table td,
table th {
   min-width: 2em;
   min-height: 2em;
   padding: 5px 5px 5px 5px;
}
table td{
   padding: 5px 10px 5px 5px;
   font-size: 12px;
}
.debt-items table thead{
   font-weight: 900;
}
.debt-title{
   font-size: 16px;
}
.debt-title .debt-user-fio{
   font-weight: 900;
}
input{
   font-size: 12px;
}
.debt-flt{
   background-image: url(/img/search.png) ;
   background-repeat: no-repeat;
   background-position: center center;
   background-size: 50%;
   width: 30px;
   height: 30px;
}
.sortable{
   cursor: pointer;
}
.sortable::after{
   content: "\25be";
   color: white;
}
.sorting_asc::after{
   content: "\25be";
   color: black;
}
.sorting_desc::after{
   content: '\25b4';
   color: black;
}